extend layout
block introduction
  img(src="/images/profile_picture.jpg")#profile-pic
  p
    h2 Currently finishing my placement year as a Software Engineer at #[a(href="bistech.co.uk") Bistech]. Where I have worked on many different projects including Dynamics CRM and many different custom applications, all of which use either C# or JavaScript. 
block skills
  p
    h1 Skills
    p
      | Programming, Awesomeness
