doctype
html
    head
        title #{title}
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        header
            h1 Harrison South - Final Year Software Engineering Student (Currently in Development, how did you get here?!)
        #wrapper
            .intro
                block introduction

        footer
            p Running on node with Express, Jade and Stylus
