/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
* Colour Scheme is as follows:
* #E44424
* #67BCDB
* #A2AB58
* #FFFFFF
*/

/*
 * Store the main color and
 * background color as variables
 */
main-color = #E44424
background-color = #faf9f0
link-colour = #A2AB58
main-picture-height = 100px

body
  font-family 'Quicksand'
  background-color background-color
  color #444

a
  color #A2AB58
  text-decoration none
  &:hover
    text-decoration none
    color darken(link-colour, 20%)

header
  font-family 'Quicksand'
  padding 50px 10px
  position fixed
  width 100%
  left 0
  top 0
  z-index 100
  border-top 0
  margin-top 0
  color #fff
  font-size 25px
  text-align center
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)
  -webkit-transition all 0.4s ease
  transition all 0.4s ease

.shrink
  padding 20px 10px

#profile-pic
  height: 300px
  width: auto
  border-radius: (@height / 2)

#wrapper
  margin 50px auto
  padding 50px
  padding-top 100px
  padding-left 100px
  padding-right 100px
  overflow hidden

  h1
      font-size 3em
      margin-bottom 10px
  h2
      font-size 2em
      margin-bottom: 10px
.intro
    margin-bottom 50px

.main-content
  float left

  p
    margin-bottom 20px

p
  line-height 1.8
  font-size 1.5em

.skill-list
    margin-top 10px

    li
        margin-left 10px
        margin-bottom 10px

.project-row
    margin-bottom 20px

.project
    overflow break-word
    p
        font-size 1em
        margin-top 5px
    h2
        margin-bottom 5px


.skill-tag
    border 1px solid #a52c14
    border-radius 7px
    background-color #e16e56
    padding 2px
    padding-right 3px
    padding-left 3px
    display inline
    margin-right 5px

.skill-tag:hover
    cursor:default;

footer
  margin 50px auto
  padding 20px
  padding-left 50px
  border-top 1px dotted #ccc
  font-size 13px
